<button type="button" class="close" aria-label="Close" (click)="OnClose()">
    <span aria-hidden="true">&times;</span>
</button>
<form [formGroup]="service.RegistrationUserFormModel" autocomplete="on" (submit)="onRegisterSubmit()">

    <div class="card2 card border-0 px-4 py-5">
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">UserName</h6>
            </label>
            <input class="mb-4" type="text" placeholder="Enter a valid UserName" class="form-control"
                formControlName="UserName" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
            <div *ngIf="submitted &&  f.UserName.errors" class="invalid-feedback">
                <div *ngIf=" f.UserName.errors.required">User Name is required</div>
            </div>
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label>
            <input type="password" placeholder="Enter password" class="form-control" formControlName="Password"
                [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
            <div *ngIf="submitted &&  f.Password.errors" class="invalid-feedback">
                <div *ngIf=" f.Password.errors.required">password is required</div>
            </div>
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Email</h6>
            </label> <input type="text" name="Email" placeholder="Enter Email" class="form-control"
                formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
            <div *ngIf="submitted &&  f.Email.errors" class="invalid-feedback">
                <div *ngIf=" f.Email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">PhoneNumber</h6>
            </label> <input type="text" name="PhoneNumber" placeholder="Enter PhoneNumber" class="form-control"
                formControlName="PhoneNumber">
        </div>
        <div class="row px-3 mb-4">
            <select formControlName="Role">
                <option value="" disabled selected>Select Role</option>

                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Register</button> </div>
    </div>



</form>