<div  >

    <h3 class="titlename" >Detalis of  {{product.ProductName}}  </h3>

    <div class="productinfo">
      <p>
         {{product.ProducInfo.InfoDetails}}
      </p>
      <b>Price : </b> Rs  {{product.ProducInfo.Price}} 
     <h4 style="margin-top: 5%;">Featrure Details</h4>
    </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Featrure</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Fat</td>
                  <td>7 %</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>XX</td>
                  <td>y %</td>
                </tr>
              </tbody>
            </table>

</div>

