<div  >

    <h3 class="titlename" >Detalis of  {{product.ProductName}}  </h3>

    <div class="productinfo">
      <p>
         {{product.ProducInfo.InfoDetails}}
      </p>
     <h4>Featrure Details</h4>
    </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Featrure</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table>

</div>

