.full-width-table {
  width: 60%;
}
.tableContainer{
  max-width: 60%;
  margin-bottom: 10px;
}
th{
  font-size: 20px;
}
td
{
  max-width: 20%;
}

input{
  width: 100%;
}

.addpurchaseordertable
{
  max-width: 50%;
}