<button (click)="ShowPO()" class="btn btn-primary" style="float: right;">Add PurchaseOrder</button>
<div class="col-lg-6" *ngIf="div1" >
 <form [formGroup]="imsApiCallService.AddPurchaseOrderFormModel" autocomplete="on" (submit)="OnSubmitAdd()">
 <div class="card2 card border-0 px-4 py-5">
     <div class="row px-3"> <label class="mb-1">
             <h4 class="mb-0 text-sm">PurchaseOrder Name </h4>
         </label> <input class="mb-4" type="text" name="UserName" placeholder="Enter a valid UserName" class="form-control" formControlName="PurchaseOrderName"> </div>
     <div class="row px-3"> <label class="mb-1">
             <h4 class="mb-0 text-sm">Required Date</h4>
         </label>
          <input type="date" name="date" placeholder="Enter date" class="form-control" formControlName="RequiredDate"> 
         </div>


       <select  formControlName="partyId" >
        <option value="value" selected>Select Party</option>
          <option *ngFor="let party of  parties" [ngValue]="party.partyId">
            {{ party.partyName }}
          </option>
        </select>

     <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Add</button> </div>
 </div>
</form>
</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="purchaseOrderName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PurchaseOrder Name</th>
      <td mat-cell *matCellDef="let row">{{row.purchaseOrderName}}</td>
    </ng-container>
<!-- 
    Name Column [ngClass]="{'grey':!PO.isComplited,'green':PO.isComplited}" -->
    
    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Required Date</th>
      <td mat-cell *matCellDef="let row">{{row.requiredDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="approvedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Approved By</th>
      <td mat-cell *matCellDef="let row">{{row.approvedBy}}</td>
    </ng-container>

    <ng-container matColumnDef="isComplited">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Complited</th>
      <td   mat-cell *matCellDef="let row" >
        <span [ngClass]="{'badge badge-success':row.isComplited}">
          {{row.isComplited}}
        </span>
        <button (click)="redirect('/PurchaseOrder/'+ row.purchaseOrderName)" class="btn btn-primary"style="float: right;">
          Check Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
