.full-width-table {
  width: 100%;
}


.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer
}

.bg-blue {
  color: #fff;
  background-color: #1A237E
}

.grey
{
    color: black;
}
.green
{
    color: green;
}
span
{
  width: 80px;
  height: 30px;
  font-size: medium;
}

.tableContainer{
  max-width: 60%;
  margin-bottom: 10px;
}

.col20{
  max-width: 5%;
}
.addpurchaseordertable
{
  max-width: 50%;
}