<div class="container1">
    <div class="container2">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="serviceName">
                {{ Product.ProductName }}
            </h3>


            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">




                    <div class="carousel-item" *ngFor="let url of Product.ImagesUrl ,let isFirst = first"
                        [class.active]="isFirst">
                        <img class="img-responsive ProductImage shadow-sm" [src]="url.ImageUrl" alt="Card image cap">
                    </div>


                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="class=col-lg-6 col-md-6 col-sm-6 col-xs-12 infobox bg-light">
            <core-productinfo [product]="Product">

            </core-productinfo>
        </div>


    </div>
    <div>
        <h4 class="allservices">All services</h4>
        <core-products>
        </core-products>
    </div>

</div>
