<div class="container1">
<div class="container2">
        
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3 class="serviceName">
            {{ Product.ProductName }}
        </h3>

        <div *ngFor="let url of Product.ImagesUrl">
            <img class="img-responsive rounded ProductImage shadow-sm" [src]="url.ImageUrl" alt="Card image cap">
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 infobox ">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>


    </div>
    
</div>
        <h4 class="allservices">All services</h4>
        <core-products>

        </core-products>

</div>