
<table class="table col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
      <tr>
         <td scope="row" >
            Purchase Order : {{PO.purchaseOrderName}}
         </td>
         <td scope="row">
            DateLoged :  {{PO.dateLoged | date: 'dd/MM/yyyy hh:mm:ss'}}
         </td>
      </tr>
      <tr>
         <td scope="row" >
         <span  [ngClass]="{'bg-info':!PO.isComplited,'bg-success':PO.isComplited}" > IsComplited : {{PO.isComplited}}</span>
         </td>
         <td scope="row" >
            Pending Amount <i class="fa fa-inr" aria-hidden="true"></i> :  {{PO.pending}}
         </td>
      </tr>
      <tr>
         <td scope="row" >
         Total Amount : <label>{{PO.totalAmaount}} </label>
         </td>
         <td scope="row" >
            Amount Paid : {{PO.paid}}
         </td>
      </tr>
      <tr>
         <td scope="row" >
         Updated By : <label><u> {{PO.approvedBy}} </u></label>
         </td>
         <td scope="row" >
            Party : {{PO.party.partyName}}
         </td>
      </tr>
   
</table>

<app-purchase-order-itmes [PurchaseOrderItemModels]="PO.items" [_POID]="PO.purchaseOrderID">

</app-purchase-order-itmes>
<app-upload [_POID]="PO.purchaseOrderID">
      
</app-upload>

