<button (click)="ShowPO()" class="btn btn-primary" style="float: right;">Add PurchaseOrder</button>

 
 <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">purchase Order</th>
      <th scope="col" >RequiredDate</th>
      <th scope="col">IsComplited</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let PO of POS; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ PO.purchaseOrderName }}
      </td>
      <td>{{ PO.requiredDate | date}}</td>
      <td [ngClass]="{'grey':!PO.isComplited,'green':PO.isComplited}" >{{ PO.isComplited }}  <button (click)="redirect('/PurchaseOrder/'+ PO.purchaseOrderName)" class="btn btn-primary"style="float: right;">Check Details</button></td>
    </tr>
    </tbody>
  </table>
 <div class="col-lg-6" *ngIf="div1" >
    <form [formGroup]="imsApiCallService.AddPurchaseOrderFormModel" autocomplete="on" (submit)="OnSubmitAdd()">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">PurchaseOrderName </h6>
            </label> <input class="mb-4" type="text" name="UserName" placeholder="Enter a valid UserName" class="form-control" formControlName="PurchaseOrderName"> </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">RequiredDate</h6>
            </label>
             <input type="date" name="date" placeholder="Enter date" class="form-control" formControlName="RequiredDate"> 
            </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Add</button> </div>
    </div>
</form>
</div>


