<div class="DashBoard container">
    <h1 class="display-4">Dash Board</h1>
    
   <button class="btn-lg" >
     <a class="nav-link" routerLink="/Sales" routerLinkActive="active">
       Sales
    </a>
  </button>
  <button class="btn-lg" >
    <a class="nav-link" routerLink="/Parties" routerLinkActive="active">
      Parties
   </a>
 </button>
 <button class="btn-lg" >
  <a class="nav-link" routerLink="/UserManagment/{{dashBoardData.tenantId}}" routerLinkActive="active">
    User Managment
 </a>
</button>
 <hr class="my-4">
    <hr class="my-4">
   <table class="col-lg-6 col-md-6 col-sm-12 purchasetable" >
     <tr style="text-align: center;">
       <h2><strong> Purchase Details </strong></h2>
     </tr>
     <tr>
       <td>
        Total Purchases
       </td>
       <td>
         {{dashBoardData.totalPurchases}}
       </td>
     </tr>
     <tr>
      <td>
        Total Paid
      </td>
      <td>
        {{dashBoardData.totalPaid}}
      </td>
    </tr>
    <tr>
      <td>
        Total Pending
      </td>
      <td>
        {{dashBoardData.totalPending}}
      </td>
    </tr>
   </table>
    <a class="btn btn-primary btn-lg" role="button">
         <a class="nav-link" routerLink="/PurchaseOrders" style="color: white;" routerLinkActive="active">
        Purchase Order
     </a>
    </a>
</div>
